@import "tailwindcss";
@plugin "daisyui" {
    themes: corporate --default;
    --primary: #5e81ac;
    --primary-content: #eceff4;
    --secondary: #81a1c1;
    --accent: #88c0d0;
    --neutral: #2e3440;
    --base-100: #3b4252;
    --base-200: #434c5e;
    --base-300: #4c566a;
    --base-content: #d8dee9;
}

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}
h1,
h2,
h3 {
    color: #333;
}
button,
a {
    cursor: pointer;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th,
td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}
input,
button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button {
    background: #1e90ff;
    color: white;
    border: none;
}
button:hover {
    background: #0b6abf;
} */
